<div class="wrapper">
    <div class="background">
    </div>

    <div class="column-one">
        <p>Reach me via email:
        </p>
        <a class="email-a" href="mailto:win.verma@outlook.com">
            <p class="email">win.verma@outlook.com</p>
        </a>
        <br>
        <p>Also available here:</p>
        <div class="hero">
            <ul class="social-links">
                <li><a href="https://github.com/winverma" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.linkedin.com/in/win-electrifier/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://www.instagram.com/since_win_sins/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/electrifierxx" target="_blank"><i class="fab fa-twitter"></i></a></li>
            </ul>
        </div>
        <div>
        </div>
    </div>
</div>