<div class="row wrapper">
    <div class="background"></div>
    <div class="pulsate"><div #elem class="parallax"></div> </div>
    <div #elem1 class="circle shadow" [style.top]="top" [style.left]="left" ></div>
    <div class="column-one">
        <p class="pre-name"><span role="img" aria-label="wave">👋</span>
            Hey! My
            name is</p>
        <div class="name">
            <p class="p-name">Win Verma<span class="p-name2"> :) </span></p>
        </div>
        <div class="name">
            <p class="p-first">I'm from Chandigarh, India and I love problem solving 👨‍💻</p>
            <p class="p-second">I'm currently exploring the world of full stack web development 😁
                <p>Find my <a href="https://drive.google.com/file/d/1KXl2lF7nFfLxBr270qhG79KSMgC-NZCL/view?usp=drive_link" target="_blank">resume here</a>.</p>
            <p class="p-third">I go by <a href="https://twitter.com/electrifierxx" rel="nofollow" target="_blank">@electrifierxx</a> on the
                internet.</p>
        </div>
    </div>
    <div class="column-two">
    </div>
</div>